<div class="container">
  <div class="row">
    <div class="col-sm-4 col-xs-12">
      <%= render "user_card", locals: {user: @user} %>
    </div>

    <% if current_user && current_user.id == @user.id %>

    <div class="col-sm-8 col-xs-12">
      <h2> My Trips </h2>

      <div class="row padded-little">
        <% @pending_reservations.each do |res| %>
          <% @res = res %>
          <%= render "reservation_card", locals: {res: @res} %>
        <% end %>
      </div>

      <div class="row padded-little">
        <% @upcoming_reservations.each do |res| %>
          <% @res = res %>
          <%= render "reservation_card", locals: {res: @res} %>
        <% end %>
      </div>

      <div class="row padded-little">
        <% @finished_reservations.each do |res| %>
          <% @res = res %>
          <%= render "reservation_card", locals: {res: @res} %>
        <% end %>
      </div>

    </div>

    <% end %>

  </div>

  <% if @user.boats.any? %>

  <div class="row">
    <h1> My Boats </h1>
    <% @user_boats.each do |boat| %>
    <div class="col-md-4">
      <%= render "boats/show_card", boat: boat %>
    </div>
    <% end %>
  </div>

  <% end %>

</div>
