<div class="wrapper">
  <div class="container">
    <div class="row padded-little">

      <div class="col-sm-4 col-xs-12">
        <%= render "user_card", locals: {user: @user} %>
      </div>
      <div class="col-sm-8 col-xs-12">

        <% if current_user && current_user.id == @user.id %>
          <% if !current_user.reservations.any? %>

            <div class='watermark'>
              <i class="fa fa-suitcase" aria-hidden="true"></i>
              <p class='watermark-text'>You have no reservations<br>
              <%= link_to "Search Boats", boats_path, class: 'watermark-text' %>
              </p>
            </div>

          <% else %>

          <div class="row">
            <% @pending_reservations.each do |res| %>
            <% @res = res %>
            <%= render "reservation_card", locals: {res: @res} %>
            <% end %>
          </div>

          <div class="row">
            <% @upcoming_reservations.each do |res| %>
            <% @res = res %>
            <%= render "reservation_card", locals: {res: @res} %>
            <% end %>
          </div>

          <div class="row">
            <% @finished_reservations.each do |res| %>
            <% @res = res %>
            <%= render "reservation_card", locals: {res: @res} %>
            <% end %>
          </div>

          <% end %>

        <% end %>
      </div>
    </div>

      <% if current_user && current_user.id == @user.id %>
        <% if !current_user.boats.any? %>


        <div class='watermark-small'>
          <i class="fa fa-ship" aria-hidden="true"></i>
          <p class='watermark-text-small'>You have no boats<br>
          <%= link_to "Add a boat", new_boat_path, class: "watermark-text-small" %>
          </p>
        </div>

        <% end %>
      <% end %>

      <% if current_user && current_user.id == @user.id %>

    <% if @user.boats.any? %>

    <% boat = @res.boat %>

    <div class="row">
      <h1> My Boats </h1>
      <% @user_boats.each do |boat| %>
      <div class="col-md-4">
        <%= render "boats/boat_search_result_card", boat: boat %>
      </div>
      <% end %>
    </div>

    <% end %>
    <% end %>

    <div class="row padded text-center">
      <%= link_to "Add a boat", new_boat_path, class: "btn gold-button" %>
    </div>
  </div>
</div>
