<!-- <div id="navbar">
  Register
  Login
  Register My Boat
</div> -->


<div class="navbar-wagon navbar-fixed-top" data-spy="affix" data-offset-top="150">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
  <%= image_tag "logo.png", {id: "logo"}%>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
<!--
    <!-- Search form -->
    <!-- <form action="" class="navbar-wagon-search">
      <input type="text" class="navbar-wagon-search-input" placeholder="Search something">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form> -->

    <!-- Text link -->
    <% if user_signed_in? %>


<div class="navbar-wagon-item">
      <div class="dropdown">


<%= cl_image_tag current_user.photo.path, width: 55, height: 55, crop: :fill, class: "avatar-large dropdown-toggle", id: "navbar-wagon-menu", data: { "toggle" => "dropdown"} %>

        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%= link_to "Profile",  users_show_profile_path(current_user), class: "navbar-wagon-item navbar-wagon-link" %></li>
          <li><%= link_to "Log Out",  destroy_user_session_path, class: "navbar-wagon-item navbar-wagon-link", method: :delete %></li>
        </ul>
      </div>
    </div>

    <% else %>
    <%= link_to "Log In", new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Sign Up", new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
        <!-- Profile picture and dropdown -->

    <!-- Notification link-->

    <%= link_to "About", root_path, class: "navbar-wagon-item navbar-wagon-link" %>

    <!-- Button (call-to-action) -->
    <%= link_to "Register Your Boat", new_boat_path, class: "navbar-wagon-item navbar-wagon-button btn" %>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>

