<!-- Your banner code -->

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url( <%= image_url 'background.jpg' %>);">

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="banner-content">
          <h1>Escape from reality</h1>
          <p>Rent a boat and live your dream now</p>
        </div>




        <div class = "navbar-form form-inline search-form form-group">
          <%= simple_form_for @boat, default: {url: boats_path, method: :get} do |f| %>

          <%= f.input :location, placeholder:"Location...",label: false, input_html: {location: 'location', class: 'location'} %>


          <%= f.button :submit, value: "Book now", class: 'button-book-online'%>

          <% end %>
        </div>

      </div>

    </div>
  </div>
</div>

<!-- Our selection code -->


<div class="wrapper">
  <div class="container padded">
    <h3 class=text-center>Our selection</h3>
    <div class="row">


      <% @boats.each do |boat| %>
      <div class= "col-sm-4">
        <%= render "boats/show_card", boat: boat %>
      </div>
      <% end %>
    </div>
  </div>
</div>


<!-- Categories code -->


<div class="category">
  <div class="container padded">
    <h3 class=text-center>Categories</h3>
    <div class="row">
      <div class='col-sm-8 col-sm-offset-2'>
        <div class="row">

          <div class="col-md-2 col-sm-6">
            <div>
              <%= link_to image_tag('icon-catamaran.png'), boats_path(category: 'Catamaran') %>
            </div>
          </div>

          <div class="col-md-2 col-sm-6">
            <div>
              <%= link_to image_tag('icon-houseboat.png'), boats_path(category: 'Houseboat') %>
            </div>
          </div>


          <div class="col-md-2 col-sm-6">
            <div>
              <%= link_to image_tag('icon-jet-ski.png'), boats_path(category: 'Jetski') %>
            </div>
          </div>

          <div class="col-md-2 col-sm-6">
            <div>
              <%= link_to image_tag('icon-motorboat.png'), boats_path(category: 'Motorboat') %>
            </div>
          </div>

          <div class="col-md-2 col-sm-6">
            <div>
              <%= link_to image_tag('icon-rib.png'), boats_path(category: 'RIB') %>
            </div>
          </div>

          <div class="col-md-2 col-sm-6">
            <div>
              <%= link_to image_tag('icon-sailboat.png'), boats_path(category: 'Sailboat') %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Working_description -->
<div class="wrapper padded">
<div class="description">
  <div class="container">
    <h3 class=text-center>We stand for simplicity</h3>
    <div class="row">
      <div class='col-sm-8 col-sm-offset-2'>
      <div class="row">
      <div class="col-md-6 col-sm-12">
          <ul class="owner-renter">
            <h4>Boat renter</h4>
            <li>See all listings</li>
            <li>Contact boat owner</li>
            <li>Book safely online</li>
            <%= button_to "Find a boat", boats_path, :class => "btn btn-default button-book-boat", :method => :get %>
          </ul>

        </div>
        <div class="col-md-6 col-sm-12">
          <ul class="owner-renter">
            <h4>Boat owner</h4>
            <li>Create a free advertisment</li>
            <li>Monetize your boat</li>
            <li>Optional insurance</li>
            <%= button_to "Estimate my earnings", new_boat_path, :class => "btn btn-default button-book-boat", :method => :get %>
          </ul>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="container-logo">
<div class=text-center>
  <%= link_to image_tag('logo.jpg', :size => "60x70"), boats_path %>
  </div>
</div>

