<!-- Your banner code -->

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url( <%= image_url 'background.jpg' %>);">

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="banner-content">
          <h1>Escape from reality</h1>
          <p>Rent a boat and live your dream now</p>
        </div>


<!--         <form class="navbar-form form-inline search-form" role="search" action="" method="">
          <div class="form-group">
            <input type="text" class="form-control location" name="location" placeholder="Location">
          </div>
          <button type="submit" class="book-online">Book now
            </button>
          </form> -->

          <div class = "navbar-form form-inline search-form form-group">
          <%= simple_form_for @boat, default: {url: boats_path, method: :get} do |f| %>
            <div class="form-control location">
              <%= f.input :location, placeholder:"Location...", input_html: {location: 'location'} %>
            </div>
            <div class="book-online">
              <%= f.button :submit, value: "Book now" %>
            </div>
            <% end %>
          </div>

        </div>

      </div>
    </div>
  </div>








  <!-- Our selection code -->


  <div class="wrapper">
    <div class="container padded">
      <h3 class=text-center>Our selection</h3>
      <div class="row">

        <div class= "col-sm-4">
          <div class= "card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url( <%= cl_image_path @boats.first.photos.first.path %>);">
          <div class="card-link card-city">
            <%= link_to "Boat1" %>
          </div>
            <div class="card-description">Text</div>
            <div>
              <img src="images/anne.jpg" alt="Anne" class="img-circle avatar">
            </div>
          </div>
        </div>

        <div class= "col-sm-4">
          <div class= "card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url( <%= cl_image_path @boats[1].photos.first.path %>);">
          <div class="card-link card-city">
            <%= link_to "Boat1" %>
          </div>
            <div class="card-description">Text</div>
            <div>
              <img src="images/anne.jpg" alt="Anne" class="img-circle avatar">
            </div>
          </div>
        </div>

        <div class= "col-sm-4">
          <div class= "card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url( <%= cl_image_path @boats.last.photos.first.path %>);">
          <div class="card-link card-city">
            <%= link_to "Boat1" %>
          </div>
            <div class="card-description">Text</div>
            <div>
              <img src="images/anne.jpg" alt="Anne" class="img-circle avatar">
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</div>

<div>
  <%= @boat.where(category="canoe").first.photos.first %>
</div>
<!-- Categories code -->


<div class="category">

  <div class="row">
    <div class="col-md-2 col-md-offset-1">
      <div class= "card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url( <%= cl_image_path @boat.where("category = 'Sailboat'").first.photos.first.path %>);">
        <div class="card-link card-city">
        <%= link_to "Sailboat", boat_path(boat) %>
        </div>
        <div>
          <img src="images/anne.jpg" alt="Anne" class="img-circle avatar">
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class= "card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url( <%= cl_image_path @boat.where("category = 'Canoe'").first.photos.first.path %>);">
        <div class="card-link card-city">
        <%= link_to "Canoe", boat_path(boat) %>
        </div>
        <div>
          <img src="images/anne.jpg" alt="Anne" class="img-circle avatar">
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class= "card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url( <%= cl_image_path @boat.where("category = 'Pirate Ship'").first.photos.first.path %>);">
        <div class="card-link card-city">
        <%= link_to "Pirate Ship", boat_path(boat) %>
        </div>
        <div>
          <img src="images/anne.jpg" alt="Anne" class="img-circle avatar">
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class= "card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url( <%= cl_image_path @boat.where("category = 'Aircraft Carrier'").first.photos.first.path %>);">
        <div class="card-link card-city">
        <%= link_to "Aircraft Carrier", boat_path(boat) %>
        </div>
        <div>
          <img src="images/anne.jpg" alt="Anne" class="img-circle avatar">
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class= "card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url( <%= cl_image_path @boat.where("category = 'Steamboat'").first.photos.first.path %>);">
        <div class="card-link card-city">
        <%= link_to "Steamboat", boat_path(boat) %>
        </div>
        <div>
          <img src="images/anne.jpg" alt="Anne" class="img-circle avatar">
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Working_description -->

<div class="description">
  <h3>We stand for simplicity</h3>
  <div class="col-md-6">
    <ul class="owner-renter">
      <h4>Boat renter</h4>
      <li>See all listings</li>
      <li>Contact Boat owner</li>
      <li>Book safley online</li>
    </ul>
  </div>
  <div class="col-md-6">
    <ul class="owner-renter">
      <h4>Boat owner</h4>
      <li>Create a free advertisment</li>
      <li>Moneize your boat</li>
      <li>Optional insurance</li>
    </ul>
  </div>
</div>

