<div class='boat-search-result-card'>
<%= link_to boat_path(boat) do %>
  <div class='boat-card-image' style="background-image: url('<%= cl_image_path boat.photos.first.path %>');background-size:cover;">
  </div>
<% end  %>
  <div class="boat-search-card-info">
    <div class="card-boat-caption">
      <span class="card-boat-category"> <%= boat.category %></span>, <span class='card-boat-location'><%= boat.location %></span>
    </div>

    <div class="card-boat-rating-box">
      <% stars = boat_stars(boat) %>
      <% if boat.reviews.average(:stars) %>
        <div class="card-boat-stars">
          <% stars[:full].times do %>
            <%= image_tag("star", size: "16x16") %>
          <% end %>
          <% stars[:half].times do %>
            <%= image_tag("star-half", size: "16x16") %>
          <% end %>
          <% stars[:empty].times do %>
            <%= image_tag("star-empty", size: "16x16") %>
          <% end %>
        </div>
        <div class="card-boat-rating">
            <%= boat.reviews.average(:stars).round(2) %>
        </div>
      <% else %>
        <div class="card-boat-stars">
          <span class='card-no-reviews'>No Reviews</span>
        </div>
      <% end %>
    </div>
  </div>
</div>
