<%= link_to boat_path(boat) do %>
  <div class='card' style="background-image: url('<%= cl_image_path boat.photos.first.path %>');background-size:cover;">
      <p class="card-boat-name"> <%= boat.name %> </p>
      <p class="card-description"> <%= boat.description %> </p>
      <% if boat.reviews.average(:stars) %>
      <p class="card-stars"> <%= boat.reviews.average(:stars).round(2) %> * </p>
      <% else %>
      <p class="card-stars"> n/a * </p>
      <% end %>
  </div>
<% end %>
