<h1>All Boats</h1>
<h2>Find the perfect boat for your adventure<h2>

<!-- BOAT MAP implementation  -->

<div id="map" style="width: 100%; height: 600px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>

<!-- END BOAT MAP implementation -->



<div class="jumbotron">

</div>
<div class="col-sm-6 col-sm-offset-3">
<%= simple_form_for @boat, :url => search_boat_path, :method => :get  do |f| %>

  <div class="form-inputs">
    <%= f.input :location %>
    <%= f.input :category, collection: Boat::CATEGORIES %>
    <%= f.input :capacity %>
    <%= f.input :price %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Search!" %>
  </div>
<% end %>
</div>


<% @boats.each do |boat| %>
  <tr>
    # <td><%= boat.name %></td>
  </tr>
<% end %>

<wrapper>
  <container>
    <div class='col-sm-10 col-sm-offset-1'>
      <div class='flex-box'>
        <% @boats.first(6).each do |boat| %>
          <%= render "show_card", boat: boat %>
        <% end %>
      </div>
    </div>
  </container>
</wrapper>

