
<div class='add-boat-banner'>

</div>


<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-offset-3 col-sm-6">
        <div class="add-boat-form-box">

          <h1>Add Your Boat</h1>
          <p>Rent your boat to individuals or groups.</p>

          <%= simple_form_for :boat do |f| %>
          <%= f.input :category, collection: Boat::CATEGORIES, label: "Category", include_blank: false %>
          <%= f.input :name, placeholder: "The Black Pearl" %>
          <%= f.input :capacity, collection: Boat::CAPACITIES, label: "Capacity", include_blank: false %>
          <%= f.input :description, placeholder: "The awerrrrr-somest ship in the seven seas! Parrot included!" %>
          <%= f.input :price, placeholder: "70 doubloons" %>
          <%= f.input :location, placeholder: "Blackbeard's Bluff" %>
          <%= f.input :user_id, as: 'hidden', value: current_user %>
          <%= f.hidden_field :user_id, value: current_user %>
          <%= f.button :submit %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

