
<div class="col-sm-6 col-sm-offset-3">
<%= simple_form_for @boat, :url => search_boat_path, :method => :get  do |f| %>

  <div class="form-inputs">
    <%= f.input :location %>
    <%= f.input :category, collection: Boat::CATEGORIES %>
    <%= f.input :capacity, collection: Boat::CAPACITIES %>
    <%= f.input :price  %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Search!" %>
  </div>
<% end %>
</div>


<% @boats.each do |boat| %>
  <tr>
    # <td><%= boat.name %>, <%= boat.price %> €, <%= boat.capacity %> pax, <%= boat.location %></td>
  </tr>
  <% end  %>



<%= content_for(:after_js) do %>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyDZr8TMXbR-_Xny4nMRE7gWSWoO8EPqDRY"></script>
<% end %>
