  <div class="form-inputs">
    <%= f.input :location %>
    <%= f.input :category, collection: Boat::CATEGORIES %>
    <%= f.input :capacity, collection: Boat::CAPACITIES %>
    <%= f.input :price  %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Search!" %>
  </div>
<% end %>
</div>


<% @boats.each do |boat| %>
  <tr>
    # <td><%= boat.name %>, <%= boat.price %> €, <%= boat.capacity %> pax, <%= boat.location %></td>
  </tr>
  <% end  %>
