<div class="boat-banner" style="background-image: url('<%= cl_image_path @boat.photos.first.path %>');background-size:contain">
</div>

<div class="wrapper add-boat-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-offset-3 col-sm-6">
        <div class="add-boat-form-box">

          <h1 class="boat-caption"><%= @boat.name %> | <%= @boat.location %></h1>

        <h2><%= @boat.category %></h2>
        <h3>Capacity: <%= @boat.capacity %></h3>
        <p><%= @boat.description %></p>
        <p><%= @boat.price %> per day</p>

        Contact <%= link_to @owner_name %>



      </div>
    </div>
  </div>
</div>
